transformers==4.2.1
# transformers
scipy
datasets
pandas
scikit-learn
prettytable
gradio
# torch
#para executar na dgx
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1
-f https://download.pytorch.org/whl/torch_stable.html

setuptools
#dev
ipykernel
mlflow